@font-face {
	font-family: "Myriad Pro";
	src: url(../shared/fonts/MYRIADPRO-REGULAR.OTF) format("opentype");
}

body {
	font-family: "Myriad Pro", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #3d3c39;
}

a {
	&:link,
	&:visited {
		text-decoration: none;
		color: $color-white;
	}
	transition: all .3s;
	display: inline-block;
	backface-visibility: hidden;
	&:hover {
		transform: translateY(-2px);
	}
}

.heading-secondary {
	font-size: 3.5rem;

}

.paragraph {
	font-size: 3rem;
	text-align: center;
}
