.flex {
	display: flex;
	align-items: center;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-2-of-3 {
	flex: 0 0 60%;
}
.flex-col-1-of-2 {
	flex: 0 0 50%;
}


.flex-stretch {
	width: 100%;
	flex: 0 0 100%;
}

.flex-col-1-of-3 {
	flex: 0 0 33.3333%;
}

.flex-col-1-of-4 {
	flex: 0 0 25%;
}

.flex-col-grow {
	flex-grow: 1;
}

@include respond(tab-port) {

	.flex-col-1-of-2-sm {
		width: 50%;
		flex: 0 0 50%;
	}
}