.desert-composition {
  position: relative;
	&__picture {
		width: 20rem;
		display: block;

		&--p1 {
			position: absolute;
			top: 0;
			left: 9rem;
		}
		&--p2 {
			position: absolute;
			top: 14rem;
			left: 5rem;
		}
		&--p3 {
			position: absolute;
			top: 100%;
			left: 0;
		}
		&--p4 {
			position: absolute;
			top: 10rem;
			left: 15rem;
		}
	}
}
