.drinks {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  text-align: center;

  flex: 0 0 45%;

  @include respond(phone) {
      flex: 0 0 90%;
  }

  &-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }
  &__item {
      margin: 1rem 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__name {
  }

  &__price {
  }

  &__description {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
