.pictures-composition {
    position: relative;

    &--p1, &--p2 {
        box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.6);
    }

    &--p1 {
        width: 50rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        position: absolute;
        top: 0;
        left: 0%;
        outline-offset: 1rem;
        transition: all .3s;
    }

    &--p2 {
        width: 40rem;
        position: absolute;
        top: 75%;
        left: 40%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        
        transition: all .3s;
    }

    &--p1:hover, &--p2:hover {
        transform: scale(1.05);
        z-index: 10;
        outline: 5px solid $color-primary-dark;
    }
}